---
- name: Configure VM
  gather_facts: yes
  hosts: all
  user: root
  vars_files:
     group_vars/all.yml
  tasks:
  - name: Copy fio wk for local
    template:
      src: fio_local.wk
      dest: /root/fio.wk
    when: "ansible_hostname | regex_search('local')" 

#
#  - name: Create the mount point
#    file:
#      path: "/mnt/nas/{{item}}"
#      state: directory
#      mode: 0777
#      recurse: yes
#    loop:
#       - nfs3
#       - nfs4
#       - nfs41
#
#  - name: Wait 300 seconds for mut port 22 to become open
#    wait_for:
#      port: 22
#      host: "{{hostvars['mut']['ansible_default_ipv4.address']}}"
#      search_regex: OpenSSH
#      delay: 10
#
#  - name: Mount share NFS v3 and v4
#    mount:
#      name: "/mnt/nas/nfs{{item}}"
#      src: "{{hostvars['mut']['ansible_default_ipv4.address']}}:/data/nfs{{item}}"
#      fstype: nfs
#      opts: "rw,sync,nfsvers={{item}}"
#      state: mounted
#    loop:
#       - 3
#       - 4
#
#  - name: Mount share NFSv4.1
#    mount:
#      name: "/mnt/nas/nfs{{item}}"
#      src: "{{hostvars['mut']['ansible_default_ipv4.address']}}:/data/nfs41"
#      fstype: nfs
#      opts: "rw,sync"
#      state: mounted
#
#  - name: Copy fio conf
#    template:
#      src: fio.wk
#      dest: /root/fio.wk
#
